/* about me card */
.aboutme-card {
display: flex;
justify-content: center;

}

/* header */
.header {
    font-size: 150px;
  }
  

  /* avatar */
  /* .avatar {

  } */


  /* card body */
  .card-body {
    text-align: center;
  }
