/* about me card */
.aboutme-card {
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* header */
.header {
    font-size: 150px;
  }
  

  /* avatar */
  /* .avatar {

  } */


  /* card body */
  /* .card-body {

  } */
