.project-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-container {
    font-size: 20px;
font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px
}

.project-tile {
    font-size: 40px;
font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.resume-container {
    font-size: 40px;
font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutme-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.avatar {
    justify-content: center;
}

.header {
font-size: 40px;
font-family: 'Rubik Mono One', sans-serif;
}

.blurb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.download {
    font-size: 20px;
font-family: 'Rubik Mono One', sans-serif;
    padding: 40px;
}

.heading {
    font-size: 20px;
font-family: 'Rubik Mono One', sans-serif;
}

.p-card {
    font-size: 15px;
font-family: 'Rubik Mono One', sans-serif;
padding: 20px;
}

/* TODO: NEED TO FIX */
/* .nav .nav-tabs {
    background: transparent;
} */

/* TODO: NEED TO FIX FOOTER */